# Analysis of Loan Payments Data

## Content

* Introduction

* Data description

* Formulation of Research question

* Data Preparation: cleaning and shaping

* EDA and Visualisation (in process...)

* Conclusion (in process...)

## 1. Introduction

The Loan Payments Data represents a list of people who had taken loan from 8th to 14th of september in 2016, and their status and information about the loan that they had taken.

P.S. Other information is not given, unfortunately. :(

## 2. Data Description

This data set incorporates clients who have paid off their credits, who have been past due and put into collection without paying back their credit and interests, and who have paid off as it were after they were put in collection. In this dataset the money related item may be a bullet advance that clients ought to pay off all of their credit obligation in fair one time by the conclusion of the term, rather than an installment plan. Of course, they might pay off earlier than their pay plan.

The details and data variables are given below:

1. Loan_id : A unique loan (ID) assigned to each loan customers- system generated
2. Loan_status : Tell us if a loan is paid off, in collection process - customer is yet to payoff, or paid off after the collection efforts
3. Principal : Pincipal loan amount at the case origination OR Amount of Loan Applied
4. terms : Schedule
4. Effective_date : When the loan got originated (started)
5. Due_date : Due date by which loan should be paid off
6. Paidoff_time : Actual time when loan was paid off , null means yet to be paid
7. Pastdue_days : How many days a loan has past due date
8. Age : Age of customer
9. Education : Education level of customer applied for loan
10. Gender : Customer Gender (Male/Female)

The dataset was created by a user of a Kaggle platform with a username "Zhijin".

*Source:* https://www.kaggle.com/zhijinzhai/loandata.

## 3. Research Questions

1. Basic analysis: Analyze the days when loans taken.
2. What term clients chose mostly to pay off loan.
3. What price is highly demanded by men and women.
4. In what age are  the customers who had payed off their loan. 
5. What is the ratio of loan principals between education levels.

## 4. Data Preparation

Firstly, we should read the dataset

In [1]:
import time
import numpy as np
import pandas as pd

In [2]:
ds = pd.read_csv('Loan payments data.csv')
ds.shape

(500, 11)

In [3]:
ds

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender
0,xqd20166231,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/14/2016 19:31,NaN,45,High School or Below,male
1,xqd20168902,PAIDOFF,1000,30,9/8/2016,10/7/2016,10/7/2016 9:00,NaN,50,Bechalor,female
2,xqd20160003,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/25/2016 16:58,NaN,33,Bechalor,female
3,xqd20160004,PAIDOFF,1000,15,9/8/2016,9/22/2016,9/22/2016 20:00,NaN,27,college,male
4,xqd20160005,PAIDOFF,1000,30,9/9/2016,10/8/2016,9/23/2016 21:36,NaN,28,college,female
...,...,...,...,...,...,...,...,...,...,...,...
495,xqd20160496,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/14/2016 19:08,3.0,28,High School or Below,male
496,xqd20160497,COLLECTION_PAIDOFF,1000,15,9/12/2016,9/26/2016,10/10/2016 20:02,14.0,26,High School or Below,male
497,xqd20160498,COLLECTION_PAIDOFF,800,15,9/12/2016,9/26/2016,9/29/2016 11:49,3.0,30,college,male
498,xqd20160499,COLLECTION_PAIDOFF,1000,30,9/12/2016,11/10/2016,11/11/2016 22:40,1.0,38,college,female
499,xqd20160500,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/19/2016 11:58,8.0,28,High School or Below,male

## 4.1 Data preparation: cleaning

### 4.1.1 Taking the days of effective

In [9]:
day_loan_taken = {}

for customer in ds.iterrows():
    
    eff_day = customer[1]['effective_date']
    if eff_day in day_loan_taken:
        day_loan_taken[eff_day] += 1
    else:
        day_loan_taken[eff_day] = 1

In [10]:
day_loan_taken

{'9/8/2016': 4,
 '9/9/2016': 15,
 '9/10/2016': 46,
 '9/11/2016': 231,
 '9/12/2016': 148,
 '9/13/2016': 23,
 '9/14/2016': 33}

### 4.1.2 Define the terms

In [11]:
terms_chosen = {}

for customer in ds.iterrows():
    
    term = customer[1]['terms']
    if term in terms_chosen:
        terms_chosen[term] += 1
    else:
        terms_chosen[term] = 1

In [12]:
terms_chosen

{30: 272, 15: 207, 7: 21}

### 4.1.3 Defining the amount of loan taken by men and women

In [14]:
male_principal = {}
female_principal = {}

for customer in ds.iterrows():
    
    principal = customer[1]['Principal']
    if customer[1]['Gender'] == 'male':
        if principal in male_principal:
            male_principal[principal] += 1
        else:
            male_principal[principal] = 1
    else:
        if principal in female_principal:
            female_principal[principal] += 1
        else:
            female_principal[principal] = 1

In [15]:
male_principal

{1000: 320, 300: 6, 800: 93, 700: 1, 900: 1, 500: 2}

In [16]:
female_principal

{1000: 57, 900: 1, 800: 18, 500: 1}

### 4.1.4 Determine the ages who have paid off their loan

In [17]:
ages = {}

for customer in ds.iterrows():
    
    age = customer[1]['age']
    if customer[1]['loan_status'] == 'PAIDOFF':
        if age in ages:
            ages[age] += 1
        else:
            ages[age] = 1

In [18]:
ages

{45: 3,
 50: 3,
 33: 17,
 27: 21,
 28: 20,
 35: 18,
 29: 28,
 36: 10,
 26: 23,
 39: 6,
 40: 5,
 32: 11,
 43: 5,
 25: 10,
 34: 16,
 31: 17,
 37: 12,
 24: 12,
 21: 4,
 30: 23,
 22: 5,
 44: 3,
 46: 2,
 38: 8,
 23: 7,
 20: 3,
 47: 1,
 42: 3,
 19: 2,
 51: 1,
 41: 1}

### 4.1.5 Define the ratio of loan principals between education levels

In [28]:
edu_levels = {}

for customer in ds.iterrows():
    
    educ = customer[1]['education']
    if educ in edu_levels:
        edu_levels[educ] += 1
    else:
        edu_levels[educ] = 1

In [29]:
edu_levels

{'High School or Below': 209,
 'Bechalor': 67,
 'college': 220,
 'Master or Above': 4}